/*抽取共同样式*/
	.hd{
		width: 100%;
		height: 60px;
		line-height: 60px;
		/*background-color: blue;*/
	}
	.hd .title{
		float: left;
		font-size: 22px;
	}
	.hd .more{
		float: right;
	}
	.hd .more.move{
		margin-top: 20px;
	}
	.hd .more.move>span{
		/*display: inline-block;*/
		float: left;
		width: 36px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		font-size: 24px;
	}
	.hd .more.move>span:first-child{
		border-right: none;
		color: #e5e2e0;
	}
	.hd .more.move>span:last-child{
		color: #b4b0b0;
	}
	.hd .more.move>span:hover i{
		color: #ff6700;
	}
	.hd .more.view>span{
		color:#424242;
		font-size: 16px;
	}
	.hd .more.view>span:hover{
		color:#ff6700;
	}
	.hd .more.view>span:hover i{
		background-color: #ff6700;
	}
	.hd .more.view>span i{
		width: 20px;
		height: 23px;
		border-radius: 50%;
		color:#fff;
		background-color: #b0b0b0;
		text-align: center;
		line-height: 23px;
		margin-left:5px;
		vertical-align: -1px;
	}
	.hd .more.tab .tab-item{
		float: left;
		margin-left: 30px;
	}
	.hd .more.tab .tab-item a{
		padding-bottom: 4px;
		font-size: 16px;
		color:#424242;
	}
	.hd .more.tab .tab-item.active a{
		color:#ff6700;
		border-bottom: 2px solid #ff6700;
	}
	.hd .more.tab .tab-item a:hover{
		color:#ff6700;
		border-bottom: 2px solid #ff6700;
	}
	.bd .bd-img a img{
		width: 100%;
		height: 100%;
	}
	.bd .bd-img>div{
		height: 300px;
		margin-bottom:14px;
	}
	.bd .bd-img>div img{
		width: 100%;
		height: 100%;
	}
	.product-list{
		text-align: center;
	}
	.product-list .product-item{
		width: 234px;
		margin-left:14px;
		float: left;
		
		position: relative;
		box-sizing: border-box;
	}
	.product-list .product-item:nth-child(1){
		margin-left: 0px;
	}
	.product-list .product-item:nth-child(5){
		margin-left: 0px;
	}
	.product-list .product-item.product-item-l{
		height: 340px;
	}
	.product-list .product-item.product-item-m{
		height: 300px;
		background-color: #fff;
		margin-bottom: 14px;
	}
	.product-list .product-item.product-item-s{
		height: 143px;
		background-color: #fff;
		margin-bottom:14px;
	}
	.product-list .product-item-s>div{
		float: left;
	}
	.product-list .product-item-s-desc{
		margin-left:30px;
		margin-top:30px;
		font-size: 14px;
		color: #333;
		text-align: left;
	}
	.product-list .product-item-s-desc p{
		margin-top:8px;
		color: #ff6700;
	}
	.product-list .product-item-s-img img{
		margin-top:40px;
		margin-left:40px;
	}
	.product-list .product-item-s-more{
		margin-left:30px;
		margin-top:40px;
		font-size: 18px;
		color: #333;
		text-align: left;
		font-weight: 600px;
	}
	.product-list .product-item-s-more p{
		margin-top:5px;
		color: #757575;
		font-size: 11px;
		font-weight: normal;
	}
	.product-list .product-item .product-img{
		width: 160px;
		height: 160px;
		margin-top: 50px;
	}
	.product-list .product-item.product-item-m .product-img{
		margin-top: 32px;
	}
	.product-list .product-item .product-name{
		width:190px;
		font-size: 15px;
		color:#202020;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-top:20px;
		margin-bottom:10px;
		margin-left:auto;
		margin-right:auto;
	}
	.product-list .product-item.product-item-m .product-name{
		margin-top: 7px;
	}
	.product-list .product-item.product-item-m .product-desc{
		margin-bottom: 10px;
	}
	.product-list .product-item .product-desc{
		color: #adadad;
		font-size: 12px;
		margin-bottom:20px;
	}
	.product-list .product-item .product-price{
		font-size: 15px;
	}
	.product-list .product-item .product-price span{
		color:#ff6700;
		margin-right:5px;
	}
	.product-list .product-item .product-price del{
		color:#adadad;
	}
	.product-list .product-item .mg{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.02);
		position: absolute;
		top: 0;
		left: 0;
	}
	.product-item .comment{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 234px;
		height: 0px;
		background-color: #ff6700;
		text-align: left;
		padding-left: 20px;
		box-sizing: border-box;
		overflow: hidden;
		opacity: 0;
		transition: all 0.3s;
	}
	.product-item .comment .comment-content{
		font-size: 13px;
		color: #fff;
		margin-top: 10px;
		margin-bottom:10px;
		padding-right: 30px;
	}
	.product-item .comment .comment-author{
		font-size: 12px;
		color: rgba(255,255,255,0.6);
	}
	.product-list .product-item:hover .comment{
		height: 78px;
		opacity: 1;
	}
	.ad{
		margin-top: 42px;
		height: 120px;
	}
	.ad a img{
		width: 100%;
		height: 100%;
	}
	.transition-box{
		height: 614px;
		transition: box-shadow 0.3s linear,transform 0.3s linear;
	}
	.transition-box:hover{
		box-shadow: 0 10px 10px rgba(0,0,0,0.2);
		transform: translateY(-3px);
	}
	.new1{
		position: absolute;
		top:0;
		left: 50%;
		margin-left: -32px;
		width: 64px;
		height: 20px;
		font-size: 12px;
		color: #fff;
		background-color: #83c44e;
		vertical-align: -1px;
	}
/*top*/
	.top{
		height: 34px;
		background-color: #333;
	}
	.top .top-nav{
		width: 680px;
		height: 34px;
		/*background-color: green;*/
		float: left;
		text-align: center;
		
	}
	.top .top-nav-list li{
		float: left;
		line-height: 34px;
	}
	.top .cart{
		width: 120px;
		height: 34px;
		background-color: #424242;
		float: right;
		color: #b0b0b0;
		line-height: 34px;
		text-align: center;
	}
	.top .cart:hover{
		background-color: #fff;
	}
	.top .cart:hover a{
		color: #ff6700;
	}
	.top .cart i{
		font-size: 20px;
	}
	.top .cart span{
		display: inline-block;
		vertical-align: 5px;
	}
	.top .user-info{
		width: 155px;
		height: 34px;
		/*background-color: purple;*/
		float: right;
		line-height: 34px;
	}
	.user-info .info-list li{
		float: left;
	}
/*header*/
	.header{
		/*height: 100px;*/
		/*background-color: green;*/
		/*overflow: hidden;*/
	}
	.header .logo{
		width: 55px;
		height: 55px;
		float: left;
		margin-top: 22px;
	}
	.header .header-nav{
		width: 661px;
		height: 100px;
		float: left;
		/*background-color: red;*/
		margin-left: 179px;
		line-height: 100px;
	}
	.header .header-nav .header-nav-item{
		float: left;
		margin-left:20px;
	}
	.header .header-nav .header-nav-item a{
		font-size: 16px;
		color: #333;
	}
	.header .header-nav .header-nav-item a:hover{
		color: #ff6700;
	}
	.header .search{
		width: 295px;
		height: 50px;
		float: right;
		margin-top:25px;
		position: relative;
	}
	.header .search input{
		float:left;
		width: 243px;
		height: 50px;
		padding-left: 10px;
		outline: none;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-right: none;
	}
	.header .search:hover input,
	.header .search:hover span{
		border-color: #999;
	}
	.header .search>span:hover{
		background-color: #ff6700;
		color: #fff;
		border:none;
		cursor: pointer;
	}
	.header .search input:focus ~.search-list{
		display: block;
	}
	.header .search input:focus,
	.header .search input:focus~.search-btn{
		border-color: #ff6700;
	}
	.header .search input:focus~.search-hot{
		display: none;
	}
	.header .search>span{
		float: left;
		width: 52px;
		height: 50px;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		font-size: 24px;
		line-height: 50px;
		text-align: center;
		color: #616161;
	}
	.header .search .search-hot{
		position: relative;
		font-size: 12px;
		color: #757575;
		text-align: center;
		line-height: 16px;
	}
	.header .search .search-hot .hot-1:hover{
		background-color: #ff6700;
		color: #fff;
	}
	.header .search .search-hot .hot-2:hover{
		background-color: #ff6700;
		color: #fff;
	}
	.header .search .search-hot .hot-1{
		position: absolute;
		top: 16px;
		left:127px;
		width: 41px;
		height: 18px;
		background-color: #eee;
	}
	.header .search .search-hot .hot-2{
		position: absolute;
		top: 16px;
		left:173px;
		width: 60px;
		height: 18px;
		background-color: #eee;
	}
	.header .search .search-list{
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		width: 244px;
		z-index: 1;
		background-color: #fff;
		border: 1px solid #ff6700;
		box-sizing: border-box;
		border-top: none;
	}
	.header .search .search-list li{
		padding-left: 15px;
	}
	.header .search .search-list li:hover{
		background-color: #eee;
	}
	.header .search .search-list a{
		line-height: 24px;
		color: #333;
	}
.home{
	padding-bottom: 42px;
}
/*home banner*/
	.home .banner{
		width: 1226px;
		height: 460px;
		background-color: red;
		position: relative;
	}
	.home .banner .banner-cart{
		position: relative;
		width: 234px;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
		padding-top: 20px;
		padding-bottom: 20px;
		box-sizing: border-box;
		z-index: 9;
	}
	.home .banner .banner-cart li{
		line-height: 42px;
		
		padding-left:20px;
	}
	.home .banner .banner-cart li:hover{
		background-color: #ff6700;
		cursor: pointer;
	}
	.home .banner .banner-cart li a{
		font-size: 16px;
		color: #fff;
	}
	.home .banner .banner-cart li i{
		position: absolute;
		right: 15px;
	}
	.carousel .carousel-list li{
		position: absolute;
		top:0;
		left: 0;
		
	}
	.carousel .carousel-list li img{
		width: 1226px;
		height: 460px;
	}
	.carousel .btn{
		position: absolute;
		width: 40px;
		height: 50px;
		color: #d4d8d1;
		font-size: 40px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
	}
	.carousel .btn:hover{
		background-color: rgba(0,0,0,0.6);
		color: #fff;
	}
	.carousel .left-btn{
		left: 234px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.carousel .right-btn{
		right: 0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.carousel .bottom-btn{
		position: absolute;
		bottom: 25px;
		right: 35px;
	}
	.carousel .bottom-btn li{
		float: left;
		width: 10px;
		height: 10px;
		box-sizing: border-box;
		margin-left:10px;
		background-color: #7d8c97;
		border-radius: 50%;
		border: 2px solid #a3adb6;
	}
	.carousel .bottom-btn li:first-child{
		background-color: #e3f4fe;
		border-color: #889298;
	}
	.carousel .bottom-btn li:hover{
		background-color: #e3f4fe;
		border-color: #889298;
	}
/*home hot*/
	.home .hot{
		/*height: 170px;*/
		/*background-color: purple;*/
		margin-top: 14px;
		margin-bottom: 14px;
	}	
	.home .hot .hot-left{
		background-color: #5f5750;
	}
	.hot .hot-left li{
		width: 78px;
		height: 85px;
		box-sizing: border-box;
		text-align: center;
		float: left;
		position: relative;
	}
	.hot .hot-left li.line1:after{
		content: '';
		display: block;
		width: 1px;
		height: 70px;
		background-color: #665e57;
		position: absolute;
		top: 5px;
		right: 0;
	}
	.hot .hot-left li.line2:before{
		content: '';
		display: block;
		width: 63px;
		height: 1px;
		background-color: #665e57;
		position: absolute;
		top: 0px;
		left: 10px;
	}
	.hot .hot-left li:hover a{
		color:#fff;
	}
	.hot .hot-left li i{
		display: block;
		margin-top: 20px;
		font-size: 20px;
	}
	.hot .hot-left li a{
		font-size: 10px;
		}
	.hot-right .hot-item{
		width: 316px;
		height: 170px;
		/*background-color: blue;*/
		float: left;
		margin-right: 15px;
	}
	.hot-right .hot-item:nth-child(3){
		margin-right:0;
	}
	.hot-right .hot-item img{
		width: 100%;
		height: 100%;
	}
/*home flash*/
	.home .flash .bd .bd-left{
		height: 340px;
		background-color: #f1eded;
		text-align: center;
		border-top: 1px solid #e53935;
		box-sizing: border-box;
	}
	.home .flash .bd .bd-left .timer-name{
		margin-top: 60px;
		color: #ef3a3b;
		font-size: 20px;
		margin-bottom:30px;
	}
	.home .flash .bd .bd-left .timer-desc{
		font-size: 14px;
		color: #6f6d6d;
		margin-top:34px;
	}
	.home .flash .bd .bd-left .timer-time{
		margin-top:30px;
	}
	.home .flash .bd .bd-left .timer-time .timer-num{
		display: inline-block;
		width: 46px;
		height: 46px;
		background-color: #605751;
		text-align: center;
		line-height: 46px;
		color: #fff;
		font-size: 18px;
	}
	.home .flash .bd .bd-left .timer-time .timer-dash{
		font-size: 24px;
	}
	.home .flash .bd .product-list>li:first-child{
		margin-left:0;
		border-top: 1px solid blue;
	}
	.home .flash .bd .product-list>li:nth-child(2){
		border-top: 1px solid green;
	}
	.home .flash .bd .product-list>li:nth-child(3){
		border-top: 1px solid red;
	}
	.home .flash .bd .product-list>li:nth-child(4){
		border-top: 1px solid green;
	}
/*main*/
	.main{
		height: 2136px;
		background-color: #f5f5f5;
		padding-top:20px;
	}
	.main .phone .bd .bd-list{
		height: 614px;
	}
	.main .elec{
		margin-top: 20px;
	}
	.main .video{
		margin-top:20px;
	}
	.main .video .bd{
		height: 285px;
	}
	.main .video .video-item{
		float: left;
		width: 296px;
		height: 285px;
		background-color:#fff;
		margin-left:14px;
		text-align: center;
	}
	.main .video .video-item:nth-child(1){
		margin-left:0px;
	}
	.main .video .video-item .video-img{
		height: 180px;
		position: relative;
	}
	.main .video .video-item .video-img img{
		width: 100%;
		height: 100%;
	}
	.main .video .video-item .video-img:hover span{
		background-color: #ff6700;
		border-color: #ff6700;
	}
	.main .video .video-item .video-img span{
		position: absolute;
		left: 21px;
		bottom: 10px;
		width: 36px;
		height: 24px;
		line-height: 21px;
		text-align: center;
		border:2px solid #fff;
		border-radius: 20px;
		color: #fff;
		box-sizing: border-box;
		background-color: rgba(0,0,0,0.6);
	}
	.main .video-item .video-img span i{
		font-size: 32px;
	}
	.main .video .video-item .video-title{
		margin-top:34px;
		font-size: 14px;
		color: #333;
	}
	.main .video .video-item .video-title:hover{
		color: #ff6700;
	}
	.main .video .video-item .video-desc{
		margin-top:10px;
		font-size: 11px;
		color: #b0b0b0;
	}
/*footer*/
	.footer{
		height: 284px;
		background-color: #fff;
	}
	.footer .service{
		height: 80px;
		border-bottom: 1px solid #e0e0e0;
		padding: 27px 0px;
		box-sizing: border-box;
	}
	.footer .service .service-item{
		width: 20%;
		height: 25px;
		float: left;
		line-height: 25px;
		text-align: center;
		border-right: 1px solid #e0e0e0;
		box-sizing: border-box;
	}
	.footer .service .service-item:last-child{
		border-right: none;
	}
	.footer .service .service-item a i{
		font-size: 24px;
		vertical-align: -4px;
	}
	.footer .service .service-item a{
		font-size: 16px;
		color: #616161;
		transition: color 0.3s;
	}
	.footer .service .service-item a:hover{
		color: #ff6700;
	}
	.footer .links{
		height: 204px;
		padding-top:40px;
	}
	.footer .link-item{
		float: left;
		margin-right:100px;
	}
	.footer .link-item dt{
		font-size: 14px;
		color: #424242;
		margin-bottom:30px;
	}
	.footer .link-item dd{
		font-size: 11px;
		color: #757575;
		margin-bottom:15px;
	}
	.footer .link-item dd:hover{
		color: #ff6700;
	}
	.footer .link-contact{
		float: right;
		border-left: 1px solid #e0e0e0;
		text-align: center;
		padding-left:47px;
		margin-right:60px;
	}
	.footer .link-contact p:nth-child(1){
		font-size: 20px;
		color: #ff6700;
		margin-bottom: 10px;
	}
	.footer .link-contact p:nth-child(2),
	.footer .link-contact p:nth-child(3){
		font-size: 12px;
		color: #616161;
		margin-bottom: 5px;
	}
	.footer .link-contact>a{
		display: inline-block;
		width: 120px;
		height: 30px;
		border: 1px solid #ff6700;
		line-height: 30px;
		box-sizing: border-box;
		color: #ff6700;
		margin-top:15px;
		transition: all 0.3s;
	}
	.footer .link-contact>a:hover{
		background-color: #ff6700;
		color:#fff;
	}
